# 基本数据类型

In [4]:
 a=1

In [ ]:
#int float bool complex type() isinstance()

In [5]:
type(222)

int

In [6]:
type('sdf')

str

In [12]:
type(True)
type(False)

bool

In [14]:
isinstance(12,int)

True

In [17]:
isinstance('asdasd',str)

True

In [18]:
6*66

396

In [19]:
0b001111001#二进制

121

In [20]:
0o446667777#八进制

77295615

In [21]:
0xefab1228dd#十六进制

1029367277789

In [22]:
1/6  #除法

0.16666666666666666

In [23]:
1111==1111.0 #判断是否相等，返回bool

True

In [26]:
-11+7j #复数

(-11+7j)

In [25]:
type(1+1j)

complex

In [27]:
(-2.11-2.5j).real#取出此复数的实部

-2.11

In [28]:
(-2.11-5.2j).imag #取出复数的虚部

-5.2

# 字符串

In [29]:
'I love python'  #使用单引号的字符串

'I love python'

In [30]:
"I love python"  #

'I love python'

In [31]:
"she said:'Good joob'"  #双引号  包含单引号

"she said:'Good joob'"

In [32]:
'' #空字符串

''

In [33]:
' ' #有空格不是空字符串

' '

In [34]:
a=1  #单行注释   
print(a)

1

In [38]:
'''
a=1
b='sdsd'
'''
#多行注释

"\na=1\nb='sdsd'\n"

In [40]:
print('I\tlike\tpyton!')  #制表符  空四个空格

I	like	pyton!

In [41]:
print('Hello\nWorld')   #换行符

Hello
World

In [42]:
print('I\blike python')  #退格 往前删除一个格

Ilike python

In [45]:
' \'  '   # 输出单引号

" '  "

In [48]:
print(r'this is an apple\t')  # 字符串加了r 代表字符串是原生的  转义字符不起作用

this is an apple\t

 字符串方法

In [51]:
len('ashda asd 哈哈\t')   #字符串的长度

13

In [52]:
'I'+" "+'like'+ ' '+'python' #字符串的连接

'I like python'

字符串索引

In [54]:
string1='python'
print(string1[0],string1[4])

p o

In [55]:
string1='python'
print(string1[-4])  #复数表示倒数第几个

t

字符串的切片

In [56]:
string='python' #注意  切片选项最后一个位置取不到

In [57]:
string[1:4]  #取从1到3的位置

'yth'

In [60]:
string[1:5:2]  #从1到4  步长为2

'yh'

In [62]:
string[1:]  #从第一个位置切到最后

'ython'

In [63]:
string[::]  #切出所有

'python'

In [64]:
string[::2]  #步长为2

'pto'

In [65]:
string[::-1]  #步长为-1  逆序字符串

'nohtyp'

In [66]:
string[:5]#  切刀第4个

'pytho'

In [67]:
string[7:]  #起始位置就超过了接线  则返回空字符串

''

In [68]:
string[:8]  #终止位置超过了接线  返回整个字符串

'python'

In [1]:
'''
\(在行位时)   续行符
\\            \ 
\a            响铃
\b           退格
\e           转义
\000         空
\n           换行
\v           纵向制表符
\t           横向制表符
\f           换页
\other       其他字符以普通格式输出
'''

'\n\\(在行位时)   续行符\n\\            \\ \n\x07            响铃\n\x08           退格\n\\e           转义\n\x00         空\n\n           换行\n\x0b           纵向制表符\n\t           横向制表符\n\x0c           换页\n\\other       其他字符以普通格式输出\n'

# 变量

In [2]:
student = 'xiaoming'

In [3]:
student

'xiaoming'

In [4]:
del student #删除变量    python会自动删除变量，不用手动删除

In [5]:
student

NameError: name 'student' is not defined

In [6]:
'sss'+122  #类型不同  不能运算

TypeError: must be str, not int

In [7]:
122+126

248

In [8]:
122.0+465  #int 和 float相加  是 float

587.0

# 转换变量类型

In [9]:
float(123)  #int 转float

123.0

In [10]:
float('123')  #str转float

123.0

In [11]:
float(2.59e-4)  #科学计数法转float

0.000259

In [12]:
str(123)

'123'

In [13]:
str(2.33e5)

'233000.0'

In [14]:
int(2.33)  #float 转为int  ，往0靠近的整数

2

In [15]:
int(-2.33)

-2

In [17]:
int('2333')

2333

变量运算

In [18]:
x = 233

In [19]:
-x

-233

In [20]:
9%2   #取余

1

In [21]:
-9%-2

-1

In [22]:
-2**4   #乘方

-16

In [26]:
a = 1 
b = 2.33
c = a + b
c

3.33

In [28]:
b=True+a
b

2

In [32]:
b=2.33
e=1+2j
f=b+e
f

(3.33+2j)

In [33]:
type(f)

complex

In [34]:
abs(-4)

4

In [35]:
complex(1,-2)  #创建一个复数

(1-2j)

In [36]:
divmod(10,3)  #分别返回商和余数

(3, 1)

In [37]:
divmod(10.5,3)  #被除数是float也可以

(3.0, 1.5)

In [38]:
pow(2,3)  #返回次方

8

In [40]:
a=range(0,10,2)  #产生一个序列
a

range(0, 10, 2)

In [41]:
round(4.9)  #四舍五入

5

In [42]:
round(3.49)

3

In [44]:
sum({1,2,3})  #对集合求和

6

In [45]:
sum([1,2,3])

6

In [46]:
oct(9)  #转为8进制字符串

'0o11'

In [47]:
hex(233)  #转化为16进制

'0xe9'

In [48]:
chr(10)    #转化为ascii字符

'\n'

In [49]:
bin(233)    #转化为二进制

'0b11101001'

In [50]:
bool(233)    #转化为bool类型   真实存在的为True

True

In [51]:
bool('')    # 非真实存在的为False  如0

False

In [75]:
8//3    #取出整数部分

2

In [74]:
'''
运算符的优先级（低到高）
1. +   -
2.*  /   //  %
3.单目-   单目+
4.**   
'''

'\n运算符的优先级（低到高）\n1. +   -\n2.*  /   //  %\n3.单目-   单目+\n4.**   \n'

# 模块导入

In [52]:
import math  #导入数学模块

In [54]:
math.ceil(2.4)   # 向上取整   取大的

3

In [55]:
math.floor(2.4)   #乡下去整    取小的

2

In [56]:
math.ceil(-2.4)

-2

In [58]:
math.sqrt(9)      #返回平方根

3.0

In [60]:
math.exp(4)   #返回以e为底的指数    e的4次方

54.598150033144236

In [62]:
math.log(10)  #对数操作

2.302585092994046

In [63]:
math.pi    #π

3.141592653589793

In [64]:
math.e    #e

2.718281828459045

In [66]:
from math import *    #导入了math中的全部   一般不建议

In [67]:
pi

3.141592653589793

In [69]:
sqrt(9)

3.0

## 输入输出

In [76]:
name=input('请输入你的姓名')

请输入你的姓名lizhi

In [77]:
name

'lizhi'

In [78]:
age=input('请输入年龄')  #得到的是str

请输入年龄20

In [79]:
age

'20'

In [80]:
age=int(input('请输入年龄'))

请输入年龄36

In [81]:
age

36

In [87]:
print('小明','ipgoneX','0.0',sep= ',')#  sep表示分割符

小明,ipgoneX,0.0

In [88]:
print('小明','ipgoneX','0.0',sep= '  ')

小明  ipgoneX  0.0

In [89]:
print('我正在学习%s'%'python')

我正在学习python

In [91]:
print('%s喜欢%s'%('我','你'))

我喜欢你

In [93]:
number=23333   

print('%6d'%number)    #输出宽度为6  结果为 23333  前面有一个空格，右对齐

 23333

In [94]:
print('%3d'%number)    #输出宽度为3  实际为5   按实际输出

23333

In [95]:
print('%-6d'%number)   #输出宽度为6   左对齐    +为右对齐

23333

In [96]:
print('%+6d'%number)

+23333

In [97]:
print('%08d'%number)    #空格用0补齐

00023333

In [98]:
print('%#o'%number)  #以8进制形式输出

0o55445

In [101]:
number=23.333333
print('%6.2f'%number)    #小数点后两位

 23.33

In [103]:
'{name}今年{age}岁了'.format(age=16,name='xiaoming')

'xiaoming今年16岁了'

## 关系运算符

In [104]:
2>3

False

In [105]:
2<=3

True

In [106]:
2<2.44

True

In [107]:
2>True

True

In [110]:
False==0

True

In [1]:
True-False

1

In [2]:
2==2

True

In [3]:
2!=3

True

In [4]:
2 is 2

True

In [5]:
2 is not 3

True

In [7]:
a=2
b=3
a==3

False

In [8]:
c=2.0
a==c        #做了隐式转换

True

In [9]:
c is a

False

In [10]:
id(a)    #查看变量在内存中的位置

140736610407264

In [11]:
id(b)

140736610407296

In [12]:
'hhahaha123'>'lihi'   #从第一个字符开始比较

False

In [13]:
''<'a'

True

In [14]:
#Python 中对象的三要素   id     type   value

In [15]:
'0'<'a'

True

In [16]:
#逻辑运算符      and   or   not

In [17]:
True and  True

True

In [18]:
True or False

True

In [19]:
not False

True

# python程序流程基本控制

In [20]:
a,b=2.33,'a'     #复合赋值语句

In [24]:
b,c,d,e,f,g='python' #将python这个字符串按照字符分别分给几个变量
b

'p'

In [30]:
string1='man'     #转换变量
string2='woman'

In [35]:
string1,string2=string2,string1
string1,string2

('woman', 'man')

In [36]:
a=b=c='233'   #给变量同时赋一个值

In [37]:
length=18

In [44]:
length+=2    #支持运算符和赋值操作结合的操作
length

67

In [43]:
length -=3
length

65

In [42]:
length *=4
length

68

## 顺序结构

In [45]:
r=float(input('请输入圆的半径：'))
area=3.14*r**2
print('圆的面积是%s'%area)

请输入圆的半径：4
圆的面积是50.24

In [1]:
import calendar

In [2]:
year=int(input('请输入年份'))  #输出指定年份的日历

请输入年份2019

In [3]:
tab=calendar.calendar(year)
print(tab)

                                  2019

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                   1  2  3
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       4  5  6  7  8  9 10
14 15 16 17 18 19 20      11 12 13 14 15 16 17      11 12 13 14 15 16 17
21 22 23 24 25 26 27      18 19 20 21 22 23 24      18 19 20 21 22 23 24
28 29 30 31               25 26 27 28               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

## 分支结构

In [4]:
answer=input('今天天气好吗？(好yes)')
if answer == 'yes':
    print('今天出去打球')

今天天气好吗？(好yes)yes
今天出去打球

In [6]:
ans=input('今天天气好吗？(好yes)')
if ans =='yes':
    print('今天去打球')
else:
    print('在家打游戏')

今天天气好吗？(好yes)no
在家打游戏

In [7]:
ans =int(input('请输入身高:'))

请输入身高:188

In [9]:
if ans<180:
    print('一般身高')
elif 180<=ans<185:
    print('男神身高')
elif 185<=ans<190:
    print('真高')
else:
    print('巨人')

真高

## 循环结构

In [13]:
count = 1 
sum = 0
while count<11:
    sum+=count
    print(count,sum)
    count +=1

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55

In [ ]:
while True:        #死循环
    print('一直重复')

In [14]:
for i in 'python':
    print(i)

p
y
t
h
o
n

In [16]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [10]:
#打印99乘法表
for i in range(1,10):
    for j in range(1,i+1):
        q=i*j
        print('%d*%d = %d'%(i,j,q),end='    ')
    print('\n')

1*1 = 1

2*1 = 2    2*2 = 4

3*1 = 3    3*2 = 6    3*3 = 9

4*1 = 4    4*2 = 8    4*3 = 12    4*4 = 16

5*1 = 5    5*2 = 10    5*3 = 15    5*4 = 20    5*5 = 25

6*1 = 6    6*2 = 12    6*3 = 18    6*4 = 24    6*5 = 30    6*6 = 36

7*1 = 7    7*2 = 14    7*3 = 21    7*4 = 28    7*5 = 35    7*6 = 42    7*7 = 49

8*1 = 8    8*2 = 16    8*3 = 24    8*4 = 32    8*5 = 40    8*6 = 48    8*7 = 56    8*8 = 64

9*1 = 9    9*2 = 18    9*3 = 27    9*4 = 36    9*5 = 45    9*6 = 54    9*7 = 63    9*8 = 72    9*9 = 81

In [12]:
i = 0 
while i<10:
    print('这是第%d次循环'%i)
    i+=1
    if i==8:
        break

这是第0次循环
这是第1次循环
这是第2次循环
这是第3次循环
这是第4次循环
这是第5次循环
这是第6次循环
这是第7次循环

In [13]:
for i in range(0,5):
    num =int(input('请输入抓娃娃需要多少秒(1`60s)'))
    if num>30:
        print('时间到到了')
        continue
    print('你本次用了%ds'%num)

请输入抓娃娃需要多少秒(1`60s)45
时间到到了
请输入抓娃娃需要多少秒(1`60s)12
你本次用了12s
请输入抓娃娃需要多少秒(1`60s)15
你本次用了15s
请输入抓娃娃需要多少秒(1`60s)1
你本次用了1s
请输入抓娃娃需要多少秒(1`60s)89
时间到到了

# 集合

In [14]:
#集合   {}来定义    1.元素确定性   2.元素互异性  3.元素的无序性

In [15]:
set1 = {1,2,3,4,5}

In [16]:
set1

{1, 2, 3, 4, 5}

In [17]:
set2 = {1,2.33,'python',(1,'b')}

集合是不可变类型 所以可以使用数值，字符串，元组 而不能使用链表，字典当做元素值

In [18]:
set3 = {1,1,2,2,3,4}   #有重复元素不报错   会去重

In [19]:
set3

{1, 2, 3, 4}

In [20]:
type(set3)

set

In [21]:
set4 = set()  #创建空集合

In [22]:
set4

set()

In [23]:
set5 = set([1,2,3,4,5,6])  #使用列表或者元组创建，在set()里放入list或者tuple可以创建集合

In [24]:
set5

{1, 2, 3, 4, 5, 6}

In [25]:
set6 = set((1,2,3,4,5,6))

In [26]:
set6

{1, 2, 3, 4, 5, 6}

In [27]:
set7 = set('python')    #使用字符串创建，得到的集合的元素是字符串的每个字符

In [28]:
set7

{'h', 'n', 'o', 'p', 't', 'y'}

In [29]:
set7.add('1')

In [30]:
set7

{'1', 'h', 'n', 'o', 'p', 't', 'y'}

In [31]:
set8 = {'b','c'}

In [32]:
set7.update(set8)    #更新集合元素  就是将集合8中的元素添加到7中

In [33]:
set7

{'1', 'b', 'c', 'h', 'n', 'o', 'p', 't', 'y'}

In [34]:
set7.pop()      #删除并返回集合中的任意元素

'h'

In [35]:
set7

{'1', 'b', 'c', 'n', 'o', 'p', 't', 'y'}

In [36]:
set7.remove('c')   #删除集合中的指定元素  元素不存在则报错

In [37]:
set7

{'1', 'b', 'n', 'o', 'p', 't', 'y'}

In [38]:
set7.discard(8)   #删除集合中的元素8,8不存在什么都不做

In [39]:
set7

{'1', 'b', 'n', 'o', 'p', 't', 'y'}

In [40]:
set7.clear()    #清空集合中的所有元素

In [41]:
set7

set()

In [42]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

In [43]:
set1.intersection(set2)   #求交集

{4, 5}

In [44]:
set1.union(set2)        #求并集

{1, 2, 3, 4, 5, 6, 7, 8}

In [45]:
set1.difference(set2)    #做差

{1, 2, 3}

In [46]:
1 in set1   #判断元素是否在集合

True

In [47]:
set3 = {1,2,3}

In [48]:
set3.issubset(set1)   #判断集合set3是否是set1的子集

True

In [49]:
set2 = {1,1.1}

In [50]:
set2

{1, 1.1}

In [51]:
set2.issubset(set1)

False

# 列表

In [52]:
list1 = [1,2,3,4,5]    #创建列表

In [53]:
list1

[1, 2, 3, 4, 5]

In [55]:
list2 = ['a','b','c','d']   #列表中的元素类型可以相同  也可以不同
list2

['a', 'b', 'c', 'd']

In [56]:
list3 = [1,1.22,'aaa']

In [58]:
list4 = [1,23.33,'python',list3]     #列表还可以嵌套列表

In [59]:
list4

[1, 23.33, 'python', [1, 1.22, 'aaa']]

In [60]:
list5 = []    #空列表

In [62]:
list4[2]       #索引下标超出范围

'python'

In [63]:
list1+list2          #使两个列表元素相加

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd']

In [64]:
list1*3     #列表复制矩阵

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [65]:
len(list1)     #求列表的长度

5

In [66]:
for i in list1:
    print(i)

1
2
3
4
5

In [67]:
2 in list1

True

In [68]:
del list1    #删除整个列表

In [69]:
list1

NameError: name 'list1' is not defined

In [70]:
list2

['a', 'b', 'c', 'd']

In [73]:
del list2[2]   #删除列表汇中索引为 i 的元素

In [74]:
list2

['a', 'b', 'd']

In [75]:
max(list2)    #返回列表中最大元素

'd'

In [76]:
min(list2)    #返回最小值

'a'

## 列表切片

In [79]:
list1 = [0,1,2,3,4,5,6,7,8]

In [80]:
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [83]:
list1[3:5]   #包括开始位置 不包括终止位置

[3, 4]

In [84]:
list1[1:6:2]   #步长为2

[1, 3, 5]

In [85]:
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [86]:
list1[:5]

[0, 1, 2, 3, 4]

In [88]:
list1[::2]

[0, 2, 4, 6, 8]

In [89]:
list1[3:-1]   #从3 开始 取到倒数第一个

[3, 4, 5, 6, 7]

In [90]:
list1[:]    #取出所有

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [92]:
list1[::-1]    #逆序列表

[8, 7, 6, 5, 4, 3, 2, 1, 0]

In [94]:
list1[8:2:-2]

[8, 6, 4]

In [95]:
id(list1)

1975833384136

In [96]:
list2 = list1[:]

In [97]:
list2

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [98]:
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [99]:
list1[2] = 'python'   #修改集合中的元素

In [100]:
list1

[0, 1, 'python', 3, 4, 5, 6, 7, 8]